.grafica-select {
  margin: 20px 0;
}

.grafica-select select {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.encuesta-view-container {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #2c3e50;
}

.title {
  font-size: 2.5rem; /* Aumenta el tamaño del título */
  margin-bottom: 50px; /* Incrementa el espacio debajo del título */
  animation: fadeInDown 1.5s ease-in-out; /* Animación de entrada */
}

.card {
  background: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 0 auto 30px; /* Añade margen inferior para separar de otros elementos */
  animation: fadeIn 1s ease-in-out; /* Animación de entrada */
}

.card-header {
  background: #4278af;
  color: #fff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  text-align: center;
}

.card-body {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #4278af;
  color: #fff;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #5589b7;
}

.paginacion {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background: #4278af;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

button:hover {
  background-color: #5589b7;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
