body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: radial-gradient(
    circle,
    #dfe9f3 20%,
    #f0f4ff 70%,
    #fff 100%
  ); /* Degradado radial */
  color: #333;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Esconde los elementos que salgan del contenedor */
}

.encuesta {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  position: relative; /* Necesario para contener los elementos con position absolute */
}

.encuesta-titulo {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  color: #2c3e50;
  margin-bottom: 1rem;
}

.dato-curioso,
.descripcion {
  font-size: 1.2rem;
  color: #34495e;
  margin-bottom: 1.5rem;
}

.btn-iniciar:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #2980b9;
}

/* Estilos para los círculos animados */
.circulo {
  position: absolute;
  border-radius: 50%;
  opacity: 0.5;
  animation: aparecer 5s infinite;
  pointer-events: none; /* Ignorar interacciones del usuario */
}

.circulo:nth-child(1) {
  width: 100px;
  height: 100px;
  background-color: rgba(52, 152, 219, 0.6);
  top: 10%;
  left: 15%;
  animation-delay: 1s;
}

.circulo:nth-child(2) {
  width: 150px;
  height: 150px;
  background-color: rgba(155, 89, 182, 0.6);
  top: 30%;
  left: 75%;
  animation-delay: 2s;
}

.circulo:nth-child(3) {
  width: 80px;
  height: 80px;
  background-color: rgba(231, 76, 60, 0.6);
  top: 70%;
  left: 25%;
  animation-delay: 3s;
}

.circulo:nth-child(4) {
  width: 120px;
  height: 120px;
  background-color: rgba(46, 204, 113, 0.6);
  top: 50%;
  left: 50%;
  animation-delay: 4s;
}

@keyframes aparecer {
  0%,
  100% {
    transform: scale(0) translate(-50%, -50%);
  }
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}

.btn-iniciar {
  padding: 0.75rem 2.5rem;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #3498db;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 2s ease-in-out, pulse 2s infinite;
}

.encuesta {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  position: relative;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-iniciar:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background-color: #2980b9;
  animation: bounce 1s ease infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
}
