<div class="encuesta">
  <div class="circulo"></div>
  <div class="circulo"></div>
  <div class="circulo"></div>
  <div class="circulo"></div>
  <h1 class="encuesta-titulo">Queremos conocer tu satisfacción laboral</h1>
  <p class="dato-curioso">
    Dato curioso: En México, solo el 15% de los trabajadores reportan sentirse
    altamente satisfechos con su trabajo.
  </p>
  <p class="descripcion">
    Nos gustaría conocer más sobre tu experiencia laboral. Por favor, tómate un
    momento para completar nuestra encuesta de satisfacción laboral.
  </p>
  <button class="btn-iniciar" (click)="iniciarEncuesta()">
    Iniciar Encuesta
  </button>
</div>
