<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid justify-content-between">
    <!-- Marca "Worky" en el centro -->
    <a class="navbar-brand mx-auto" href="/">Worky</a>

    <!-- Botón de login a la derecha -->
    <button class="btn btn-outline-light" *ngIf="!isLoggin" (click)="navigateToLogin()">
      Login
    </button>
    <button class="btn btn-outline-light" *ngIf="isLoggin" (click)="cerrarSesion()">
      Cerrar Sesión
    </button>
  </div>
</nav>
